.container
  h1 Heroes form
  form(#heroForm="ngForm")
    .form-group
      label Name
      input.form-control(
      type="text",
      [(ngModel)]="model.title",
      name="name"
      )
    button.btn.btn-success(
    type="button",
    (click)="addHero()"
    ) Add Hero
  hero-list([heroes]="heroes")