.container
  h1 Heroes form
  form(#heroForm="ngForm")
    .form-group
      label Name
      input.form-control(
      type="text",
      [(ngModel)]="model.name",
      name="name"
      )
      .alert.alert-success {{counter}}
    button.btn.btn-success(
    type="button",
    (click)="increment()"
    ) success